name: test
on:
  push:
    branches:
      - main
      - development
    paths:
      - 'packages/**'
      - '.github/workflows/test.yaml'
  pull_request:
    branches:
      - main
      - development
    paths:
      - 'packages/**'
      - '.github/workflows/test.yaml'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.13.2]

    steps:
      - name: Copy repository
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Install npm dependencies
        run: yarn install

      - name: Lint code
        run: yarn run lint

      - name: Run tests
        run: yarn run test
